NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_REDUX_PERSIST_KEY=
NEXT_PUBLIC_APP_ENV=prod
REDUX_PERSIST_KEY="propublic"

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here