@use 'sass:map';
@use 'config';

@mixin apply-font($font-name: 'inter', $weight-name: 'regular') {
  $font-map: map.get(config.$fonts, $font-name);

  @if not $font-map {
    @error "Font '#{$font-name}' not found in the $fonts map.";
  }

  $font-family: map.get($font-map, 'family');
  $font-weights: map.get($font-map, 'weights');
  $weight: map.get($font-weights, $weight-name);

  @if not $weight {
    @error "Weight '#{$weight-name}' for font '#{$font-name}' not given.";
  }

  font-family: $font-family;
  font-weight: $weight;

  @if $font-name == 'inter' {
    font-optical-sizing: auto;
    font-style: normal;
  }
}
