@use 'sass:map';
@use 'config';
@use 'mixins';

@use './fonts.css';
@use './mockup.css';
@use './common.scss';

@use './pages/home.styles.scss';

/* global css need last use */
@use './globals.css';

:root {
  --propublic-border-radius: 5px;
}

// Generate utility classes like .font-inter-regular, .font-inter-bold, etc.

@each $font-name, $font-config in config.$fonts {
  // Access $fonts via the 'config' namespace
  $weights-map: map.get($font-config, 'weights');
  @each $weight-name, $weight-value in $weights-map {
    .font-#{$font-name}-#{$weight-name} {
      @include mixins.apply-font(
        $font-name,
        $weight-name
      ); // Access apply-font via the 'mixins' namespace
    }
  }
}

button,
a {
  border-radius: var(--propublic-border-radius);
  @apply cursor-pointer;

  &.propublic-button {
    font-family: 'Teko', sans-serif;
    border-radius: var(--propublic-border-radius);
    @apply px-3 py-2;
  }
}

.propublic-button a {
  font-family: inherit !important;
}

.border-radius-propublic {
  border-radius: var(--propublic-border-radius);
}
* {
  // font-size: 100%;
  // font-family: Arial;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Teko', sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  /* margin-top: 1rem !important;
  margin-bottom: 1rem !important; */
  /* font-weight: 800 !important; */
}
.font-teko {
  font-family: 'Teko';
}

.font-inter {
  @include mixins.apply-font('inter', 'regular');
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 0.9rem;
}

.academy-card-item {
  @apply aspect-square w-full;
}
.flying-button-carousel {
  @apply pointer-events-auto w-7 h-10 rounded-full border backdrop-blur-sm flex items-center justify-center transition-all duration-300 hover:bg-custom-primary border-custom-primary/50  bg-custom-primary/80 text-white absolute ;
  border-radius: var(--propublic-border-radius);
  &.left {
    @apply -left-2;
  }
  &.right {
    @apply -right-2;
  }
}
